#GenerateCodePage header {
    padding: 0;
    height: 84px;
}

#GenerateCodePage h1 {
    color: #8f979e;
}
#GenerateCodePage h2 {
    color: #8f979e;
}
#GenerateCodePage h2 strong {
    color: inherit;
}

#LoadingCode {
    display: none;
}

#DisplayCode {
    display: none;
    padding-top: 60px;
}

#ErrorCode {
    display: none;
}
