* {
    font-family: 'Nunito', sans-serif;
    color: #8f979e;
}

h1 {
    color: #ffffff;
    font-size: 44px;
    margin-bottom: 10px;
    font-weight: 400;
    line-height: 1.2;
}
h2 {
    color: #deeff7;
    font-weight: 100;
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}
h2 strong {
    color: #deeff7;
}
h3 {
    text-align: center;
    font-size: 22px;
    color: #44505a;
    font-weight: 400;
    margin-bottom: 0;
    text-transform: uppercase;
}
h4 {
    text-align: center;
    font-weight: 400;
    margin: 12px 0 50px;
}
a {
    color: #40abe4;
    cursor: pointer;
}
a.button {
    background: rgba(34,136,234,1);
    background: -moz-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(34,136,234,1)), color-stop(100%, rgba(106,222,219,1)));
    background: -webkit-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -o-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2288ea', endColorstr='#6adedb', GradientType=1 );
    color: #ffffff;
    border-radius: 4px;
    padding: 14px 32px;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 600;
    box-shadow: 0px 4px 22px rgba(52, 113, 167, 0.3);
    margin-top: 6px;
    display: inline-block;
    max-width: 170px;
    text-align: center;
    margin-right: 20px;
}
a.button.light {
    background: #ffffff;
    color: #40abe4;
    margin: 14px auto 0;
}
a.button:hover {
    box-shadow: 0px 4px 28px rgba(52, 113, 167, 0.4);
}
a:hover {
    text-decoration: none;
}
p {

}

label {
    display: block;
    color: #44505a;
    font-size: 22px;
    font-weight: 100;
    text-align: left;
}
input {
    border-bottom: 1px solid #c6e7f9;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    color: #40abe4;
    padding: 30px 0 10px;
    font-size: 30px;
    font-weight: 100;
    width: 100%;   
}
input:focus, input:active {
    border-bottom: 1px solid #40abe4;
    outline: none;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #e4ecf1;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #e4ecf1;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #e4ecf1;
}
:-moz-placeholder { /* Firefox 18- */
  color: #e4ecf1;
}

progress {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
}
progress::-webkit-progress-bar {
    background: #e4ecf1;
}
progress::-webkit-progress-value {
    background: rgba(34,136,234,1);
    background: -moz-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(34,136,234,1)), color-stop(100%, rgba(106,222,219,1)));
    background: -webkit-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -o-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2288ea', endColorstr='#6adedb', GradientType=1 );
}

header {
    background: rgba(34,136,234,1);
    background: -moz-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(34,136,234,1)), color-stop(100%, rgba(106,222,219,1)));
    background: -webkit-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -o-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: -ms-linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    background: linear-gradient(45deg, rgba(34,136,234,1) 0%, rgba(106,222,219,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2288ea', endColorstr='#6adedb', GradientType=1 );
    padding: 120px 0 400px;
    text-align: center;
}
@media screen and (max-width: 992px) {
    header {
        padding-bottom: 280px;
    }
}
@media screen and (max-width: 480px) {
    header {
        padding-bottom: 130px;
    }
}

nav {
    padding: 20px 0;
    position: absolute;
    top: 0;
    width: 100%;
}
nav .brand {
    text-align: left;
    padding-top: 8px;
    z-index: 101;
}
nav .brand .logo {
    background: url(../images/logo.png);
    background-size: 100%;
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
    margin-top: -5px;
    height: 40px;
    width: 40px;
}
nav .brand a {
    color: #ffffff;
    font-size: 17px;
}
nav .nav-links {
    text-align: right;
    z-index: 101;
}
@media screen and (max-width: 992px) {
    nav .nav-links {
        display: none;
    }
    body.open nav .nav-links {
        display: block;
        padding: 20vh 0 40px;
    }
    body.open  nav .nav-links a {
        font-size: 22px;
        margin-top: 20px;
        text-align: center;
        font-weight: 100;
        width: 100%;
    }
    body.open  nav .nav-links a#demo {
        margin-top: 40px;
        font-size: 22px;
    }
}
nav .nav-links a {
    color: #ffffff;
    display: inline-block;
    font-size: 13px;
    margin-top: 2px;
    padding: 0 16px;
    text-align: center;
}
nav .nav-links a#buy {
    padding: 10px 16px;
    border-radius: 4px;
    background: #ffffff;
    color: #40abe4;
    min-width: 80px;
}
nav .nav-links a#demo {
    padding: 10px 16px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    margin-right: 12px;
    min-width: 80px;
}

section {
    padding: 100px 0 120px;
}
section.alt-background {
    background: #f5f8fa;
}
section.alt-background-dark {
    background: #e4ecf1;
    padding: 80px 0;
}

#Screenshot {
    margin-top: -350px;
    position: relative;
}
.dashboard-screenshot {
    background: url(../images/dashboard.png) no-repeat;
    background-size: 100%;
    display: block;
    margin: 0 auto;
    width: 800px;
    height: 520px;
}
@media screen and (max-width: 992px) {
    #Screenshot {
        margin-top: -230px;
    }
    .dashboard-screenshot {
        width: 600px;
        height: 390px;
    }
}
@media screen and (max-width: 630px) {
    .dashboard-screenshot {
        width: 100%;
    }
}
@media screen and (max-width: 480px) {
    #Screenshot {
        margin-top: -90px;
    }
    .dashboard-screenshot {
        width: 300px;
        height: 200px;
    }
}
.video-overlay {
    cursor: pointer;
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translate(-50%);
}
.video-overlay i {
    color: rgba(255,255,255,0.3);
    font-size: 60px;
    border-radius: 110px;
    padding: 40px 42px 40px 50px;
    background: rgba(255,255,255,0.05);
}
.video-overlay:hover i {
    color: rgba(255,255,255,0.8);
}

#PromoProgress {
    padding: 20px 0 0;
}
#PromoProgress h3 {
    margin: 0 0 12px;
    font-size: 20px;
    text-transform: none;
    font-weight: 100;
}

#Features ul {
    margin: 0;
    padding: 0 0 40px;
    list-style: none;
}
#Features ul li {
    padding: 20px 30px 20px 70px;
    position: relative;
}
#Features ul li i {
    color: #40abe4;
    border: 2px solid #40abe4;
    border-radius: 40px;
    font-size: 24px;
    margin-right: 18px;
    padding: 11px 0;
    text-align: center;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 0;
}
#Features ul li .feature-title {
    color: #44505a;
    display: block;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2px;
    padding-top: 8px;
    text-transform: capitalize;
}
#Features ul li .feature-desc {
    display: block;
}
@media screen and (max-width: 630px) {
    #Features {
        padding-top: 20px;
    }
}
@media screen and (max-width: 480px) {
    #Features {
        padding-top: 70px;
    }
}

#HowItWorks .step {
    padding: 80px 0;
}
#HowItWorks .step:first-of-type {
    padding-top: 130px;
}
#HowItWorks .step-index {
    color: #e3ecf2;
    font-size: 160px;
    font-weight: 800;
    line-height: 0.3;
}
#HowItWorks .step-title {
    color: #44505a;
    display: block;
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2px;
    padding-top: 8px;
}
#HowItWorks .step-hr {
    display: block;
    border-bottom: 2px solid #e1e9ef;
    width: 102px;
    padding: 8px;
    margin-bottom: 16px;
}
#HowItWorks .step-desc {
    line-height: 1.6;
}
#HowItWorks .step-img {
    margin-top: -120px;
    width: 100%;
}
@media screen and (max-width: 992px) {
    #HowItWorks .step {
        padding: 60px 0;
    }
    #HowItWorks .step-img {
        margin-top: 0;
    }
}

#Pricing h3 {
    margin: 0;
    text-align: left;
    font-size: 28px;
    text-transform: none;
    font-weight: 100;
    color: #40abe4;
    line-height: 1;
}
#Pricing span {
    margin: 0;
    text-align: left;
    font-size: 30px;
    text-transform: none;
    color: #44505a;
}
@media screen and (max-width: 992px) {
    #Pricing, #Pricing h3 {
        text-align: center;
    }
    a.button {
        margin-top: 30px;
    }
}

#Contact {
    padding: 60px 0 0;
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}

footer p {
    color: #b7bfc5;
    text-align: center;
    font-size: 12px;
    padding: 40px 0;
}


/* Buy Form*/
#BuyForm ul {
    list-style: none;
    text-align: left;
}
#BuyForm li {
    margin: 100px 0;
    position: relative;
}
.question-number {
    position: absolute;
    left: -34px;
    top: 6px;
    color: #40abe4;
}
.question-number i {
    color: #40abe4;
    font-size: 12px;
}
#PaymentSuccess, #PaymentFail {
    display: none;
}


/* MODALS */
.modal {
    background: rgba(0,0,0,0.85);
    visibility: hidden;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: opacity .2s ease-in;
    opacity: 0;
    padding: 40px;
    position: fixed;
    z-index: 100000;
}
.modal-container {
    background: #ffffff;
    border-radius: 6px;
    height: 100%;
    width: 100%;
    max-width: 1100px;
    margin: 0 auto;
    transition: opacity .3s ease-out;
    text-align: center;
    padding: 40px;
    overflow: scroll;
}
@media screen and (max-width: 630px) {
    .modal-container {
        padding: 20px 10px;
    }
}
.modal-header {
    margin-bottom: 50px;
    text-align: center;
}
.modal-close {
    cursor: pointer;
    position: absolute;
    top: 16px;
    right: 16px;
}

.modal h2 {
    color: #40abe4;
    font-size: 44px;
    font-weight: 100;
    line-height: 1.2;
}
@media screen and (max-width: 630px) {
    .modal h2 {
        font-size: 26px;
    }
    .modal p {
        margin-bottom: 20px;
    }
}
.modal p {
    margin: 10px auto;
    max-width: 500px;
}
.modal-icon {
    color: #40abe4;
    background: #eef4f6;
    border-radius: 100px;
    padding: 40px 42px;
    font-size: 30px !important;
    margin: 6vh 0 20px;
}
@media screen and (max-width: 992px) {
    .modal-icon {
        margin-top: 0;
    }
}
.download-OS {
    padding: 10px;
}
.download-OS a {
    border: 1px solid #ebebeb;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    padding: 40px 0;
}
.download-OS a:hover {
    border: 1px solid #40abe4;
}

.error-message {
    color: #ec2d2d;
    margin-top: 8px;
    display: none;
}
#activation-code {
    display: block;
    color: #40abe4;
    font-size: 40px;
    background: hsla(195, 31%, 95%, 1);
    border-radius: 4px;
    border: 1px solid #40abe4;
    margin-bottom: 60px;
}


/* MOBILE MENU */
.navbar-bg {
    -webkit-transition: all 023s cubic-bezier(.3,1,.3,1);
    -moz-transition: all 0.2s cubic-bezier(.3,1,.3,1);
    -o-transition: all 0.2s cubic-bezier(.3,1,.3,1);
    transition: all 0.2s cubic-bezier(.3,1,.3,1);
    background: #40abe4;
    border-radius: 0 0 6000px 6000px;
    display: block;
    position: fixed;
    top: 0;
    height: 0;
    right: 0;
    width: 0;
    z-index: 100;
}
@media screen and (min-width: 992px) {
    .navbar-bg {
        display: none;
    }
}
#mobile-toggle {
    width: 36px;
    height: 30px;
    position: absolute;
    top: 26px;
    right: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 102;
    display: none;
}
@media screen and (max-width: 992px) {
    #mobile-toggle {
        display: block;
    }
}
#mobile-toggle span {
    display: block;
    position: absolute;
    height: 2px;
    width: 50%;
    background: #fff;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .2s ease-in-out
    -moz-transition: .2s ease-in-out
    -o-transition: .2s ease-in-out
    transition: .2s ease-in-out
}
#mobile-toggle span:nth-child(even) {
  left: 50%;
}
#mobile-toggle span:nth-child(odd) {
  left:0px;
}
#mobile-toggle span:nth-child(1), #mobile-toggle span:nth-child(2) {
  top: 0px;
}
#mobile-toggle span:nth-child(3), #mobile-toggle span:nth-child(4) {
  top: 14px;
}
#mobile-toggle span:nth-child(5), #mobile-toggle span:nth-child(6) {
  top: 28px;
}

body.open .navbar-bg {
    border-radius: 0;
    height: 100%;
    width: 100%;
}
body.open #mobile-toggle span:nth-child(1), body.open #mobile-toggle span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
body.open #mobile-toggle span:nth-child(2), body.open #mobile-toggle span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
body.open #mobile-toggle span:nth-child(1) {
  left: 2px;
  top: 7px;
}
body.open #mobile-toggle span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}
body.open #mobile-toggle span:nth-child(3) {
  left: -50%;
  opacity: 0;
}
body.open #mobile-toggle span:nth-child(4) {
  left: 100%;
  opacity: 0;
}
body.open #mobile-toggle span:nth-child(5) {
  left: 2px;
  top: 18px;
}
body.open #mobile-toggle span:nth-child(6) {
  left: calc(50% - 5px);
  top: 18px;
}

.transaction-pulse-container {
    position: absolute;
    width: 50%;
    position: absolute;
    top: 140px;
    left: 280px;
}

@media screen and (max-width: 680px) {
    .transaction-pulse-container {
        position: relative;
        width: 100%;
        left: 0;
        top: 0;
    }
}
/* Animations */
.pulse {
    font-size: 18px;
    color: #40abe4;
    animation: pulse 2s infinite;
    font-weight: 100;
    display: block;
}
@-webkit-keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
@keyframes pulse {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
