extend default

block content
  
  <section class="page-header">
    <div class="container">
      <h1>Become an affiliate</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Affiliate Program
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      h3.left How the affiliate program works
      p When a new user clicks your referral link and completes a purchase, or purchases a license using your discount code, you will receive 20% of the transaction amount. 
      p We will send out referral earnings on a bi-weekly basis. The payouts will be issued in <strong>BTC</strong>. Please note that transaction fees will be subtracted from the 20% commission.

      p <strong>Follow these steps to access your referral link:</strong>
      ol
        li Purchase a CryptoStorm license.
        li Install CryptoStorm and register the app with your license key.
        li Click the <strong>Settings</strong> tab in the right sidebar - this is where you'll find your referral link.
        li Share with your network and earn!

      h3.left More details
      p We use cookies to track people who have clicked on your link, so they need to be using cookies for us to track them.
      p If a person doesn't allow cookies or clears their cookies then we can't track them so can't pay earnings on that person's activity.
      p If a person clicks on your referral link and then later they click on someone else's, yours is the one that counts.

      br
      hr
      br
      h3.left Marketing material
      p Affiliate partners are welcome to use the following marketing material:
      .col-sm-4
        <a class="button wide" href="/images/logo.eps" download>Download logo</a>
      .col-sm-4
        <img src="/images/logo-large.png" style="width:100%;" />
    </div>
  </section>

  <section class="alt-background">
    <div class="container">
      p To help you along, we've summarized a few of the key Do's and Don'ts below.

      h3.left Do:
      ul
        li Create SEO friendly blog posts to write about an area of interest that is related to the services CryptoStorm provides.
        li Use your site or a social service to feature CryptoStorm, using your referral link. This could be a post, a sidebar widget, or a tweet on Twitter.
        li Use targeted banner ads <em>(artwork coming soon)</em>.
        li Promote limited time license discounts that we run.
        li Design a page or site that is unique in design and isn't going to confuse anyone about your purpose as an affiliate.

      h3.left Don't:
      ul
        li Confuse consumers through the design of your site by copying our site design or using our logos other than in a promotional manner.
        li Use CryptoStorm brands, trademarks and intellectual property other than the logos approved by CryptoStorm and made available to affiliates on the referral page.
        li Purchase a domain name, search engine keyword or pay-per-click advertisement that uses any CryptoStorm trademarks or variations and mis-spellings.
        li Send unsolicited email or other messaging that in any way may constitute spam.
        li Do anything that would amount to a breach of any laws including, but not limited to, privacy, intellectual property and spam.
        li Engage in any conduct that does not meet our standards of 'fair play' including things like fraud, confusing the new user, or providing a link designed to mislead the customer.
    </div>
  </section>

