<!DOCTYPE html>
  <html>
    <head>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-92286366-3"></script>
      script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-92286366-3');

      <meta charset="utf-8">
      <title>CryptoStorm Bot | #{title}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="CryptoStorm Bot">
      <meta name="author" content="CryptoStorm Bot">

      <meta name="google-site-verification" content="nnWT6RasZN3i3CKbs8HQrrYWARSiWPSs8nWfaEFLi2I" />

      <meta name="og:image" content="http://getcryptostorm.com/images/dashboard.png">
      <meta name="og:title" content="CryptoStorm">
      <meta name="og:description" content="A better way to trade crypto">
      <meta name="og:url" content="http://getcryptostorm.com">

      <meta name="twitter:card" content="summary">
      <meta name="twitter:image" content="http://getcryptostorm.com/images/dashboard.png">
      <meta name="twitter:title" content="CryptoStorm">
      <meta name="twitter:description" content="A better way to trade crypto">
      <meta name="twitter:url" content="http://getcryptostorm.com">

      <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,600,700" rel="stylesheet">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <link rel="stylesheet" type="text/css" href="css/main.css">
    </head>
  <body class=#{title}>
    <!-- Header -->
    <header>
      <nav>
          <span class="navbar-bg"></span>
          <div id="mobile-toggle">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span></span>
          </div>
          <div class="col-md-4 col-xs-12 brand">
              <a href="."><span class="logo"></span>CryptoStorm</a>
          </div>
          <div class="col-md-8 col-xs-12 nav-links">
              <a href="/guide">User Guide</a>
              <a href="/faq">FAQ</a>
              <a href="/support">Support</a>
              <a id="demo" href="/trial">Free Trial</a>
              <a id="buy" class="button" href="/buy">Buy</a>
          </div>
      </nav>
    </header>
    <!-- End header -->

    <!-- Page Content -->
    block content
    <!-- End page content -->

    <!-- Footer -->
    <div class="footer-wrapper">
        <div id="Contact">
            <div class="container">
                <p>Questions or comments? Join our Discord community! <a href="https://discord.gg/vQKjaxh" target="_blank">https://discord.gg/r3xvED9</a></p>
            </div>
        </div>

        <footer>
            <div class="container">
              <div class="col-xs-12 social-links">
                <div class="link">
                  <a href="http://t.me/cryptostorm" target="_blank"><i class="fa fa-paper-plane" aria-hidden="true"></i></a>
                </div>
                <div class="link">
                  <a href="https://www.youtube.com/channel/UCeJtxSj2Tre_02CDw_bq31Q" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                </div>
                <div class="link">
                  <a href="https://twitter.com/CryptoStormBot" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </div>
                //- <div class="link">
                //-   <a href="mailto:cryptoripped@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                //- </div>
                <div class="link">
                  <a href="https://bitcointalk.org/index.php?topic=2061680.0" target="_blank"><i class="fa fa-btc" aria-hidden="true"></i></a>
                </div>
                //- <div class="link">
                //-   <a href="https://discord.gg/vQKjaxh" target="_blank"><i class="fa fa-discord" aria-hidden="true"></i></a>
                //- </div>
              </div>
              <div class="col-xs-12 sub-links centered-h">
                <a href="/affiliate">Affiliate Program</a>
                <a href="/terms">Terms &amp; Conditions</a>
                <a href="/privacy-policy">Privacy Policy</a>
              </div>
              <p>&copy; 2018 CryptoStorm. All Rights Reserved.</p>
            </div>
        </footer>
    </div>
    <!-- End footer -->

    <!-- Scripts -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
    <script type="text/javascript" src="https://klukt.com/klukt.js"></script>
    <script src="js/main.js"></script>
    //- <script src="js/promo.js"></script>

    block scripts
    <!-- End scripts -->

  </body>
</html>