extend default

block content
  
  <section class="page-header">
    <div class="container">
      <h1>Downloads</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Downloads
      </div>
    </div>
  </section>

  <section class="centered-h">
    <div class="container">
      <p>Select your OS, download the files, unzip, launch and enter the activation key.</p>
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <div class="col-sm-6 download-OS"><a href="downloads/CryptoStorm-MacOS.zip" download>Download for Mac</a></div>
          <div class="col-sm-6 download-OS"><a href="downloads/CryptoStorm-Windows64.zip" download>Download for Windows</a></div>
        </div>
      </div>
    </div>
  </section>

