extend default

block content
  
  <section class="page-header centered-h">
    <div class="container">
      <h1>FAQ</h1>
    </div>
  </section>

  <section>
    <div class="container">
        <ul class="FAQ-list">
            <li>
                <span class="q">Vestibulum fermentum viverra sem ac tempor?</span>
                <span class="a">Mauris auctor dictum ipsum. Sed a nisi lectus. Duis eu nisl nec urna gravida molestie. Proin in fermentum nisl, sit amet gravida neque. Morbi sed suscipit dolor, vehicula venenatis risus. Aliquam sagittis nisi id libero sollicitudin malesuada. In nec mauris vulputate, aliquet nisl sit amet, bibendum mi.</span>
            </li>
            <li>
                <span class="q">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas?</span>
                <span class="a">Nam sit amet eleifend mauris, vitae euismod massa. In viverra porta enim sit amet porta. Cras iaculis augue vel dui elementum blandit at sit amet arcu. Sed non lectus eu nibh vehicula laoreet ut sit amet sem. Pellentesque commodo at diam et maximus. Etiam a placerat quam.</span>
            </li>
            <li>
                <span class="q">Vestibulum fermentum viverra sem ac tempor?</span>
                <span class="a">Mauris auctor dictum ipsum. Sed a nisi lectus. Duis eu nisl nec urna gravida molestie. Proin in fermentum nisl, sit amet gravida neque. Morbi sed suscipit dolor, vehicula venenatis risus. Aliquam sagittis nisi id libero sollicitudin malesuada. In nec mauris vulputate, aliquet nisl sit amet, bibendum mi.</span>
            </li>
            <li>
                <span class="q">Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas?</span>
                <span class="a">Nam sit amet eleifend mauris, vitae euismod massa. In viverra porta enim sit amet porta. Cras iaculis augue vel dui elementum blandit at sit amet arcu. Sed non lectus eu nibh vehicula laoreet ut sit amet sem. Pellentesque commodo at diam et maximus. Etiam a placerat quam.</span>
            </li>
        </ul>
    </div>
  </section>

  <section class="alt-background-dark banner">
    <div class="container">
      <div class="col-md-8">
        <h3>Ready to get started?</h3>
        <span>Buy your copy of CryptoStorm today.</span>
      </div>
      <div class="col-md-4">
        <a class="button" id="buyBanner" href="/buy">Buy now</a>
        <a class="button light" id="demoBanner" href="/trial">Free Trial</a>
      </div>
    </div>
  </section>