extend default

block content
  
  <section class="page-header">
    <div class="container">
      <h1>Frequently asked questions</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> FAQ
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <p><strong>If you don’t find your answer here, send us a <a href="http://t.me/CryptoStorm" target="_blank">Telegram message.</a></strong></p>
      <ul class="FAQ-list">
        <li class="active">
          <span class="q">What is AUTO mode? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>In AUTO mode, you can trigger the "Execute Auto" action (by clicking the button, or by hitting the "Enter" key from the market selector). This will first execute all orders in your buy configuration, and then execute all orders in your sell configuration.</p>
            <p>Follow these steps to execute auto trades:</p>
            <p><strong>1.</strong> Configure your BUY points, where the amount is in the BASE currency, and the rate is percentage based, with respect to the starting rate when "Execute Auto" is triggered.</p>
            <p><strong>2.</strong> Configure your sell points, where the amount is in percentage with respect to the total amount bought in step (1). The rate is percentage based, with respect to the starting rate when "Execute Auto" is triggered.</p>
            <p><strong>3.</strong> Select the market, and then hit enter or click "Execute Auto".</p>
            <p><strong>Note:</strong> To resolve percentage based rates, we freeze the current price when "Execute Auto" is triggered and then calculate the percentage-based rates on the fly. This allows you to apply the same strategy to multiple markets without having to calculate specific rates and amount every time.</p>
          </div>
        </li>
        <li>
          <span class="q">What is MANUAL mode? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>In MANUAL mode, you can choose to "Execute Buys" or "Execute Sells". Doing so will issue all orders in your buy or sell configuration respectively.</p>
            <p><strong>Note:</strong> In manual mode, all rates are absolute values with respect to the quote currency.</p>
          </div>
        </li>
        <li>
          <span class="q">How do I configure my BUY(S)? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>In the Buy Configuration box, you may create as many buy points as you’d like, they will be executed in parallel. To configure one buy point, enter the amount you would like to buy, and the rate (see AUTO and MANUAL mode). You can add and remove buy points by clicking “Add buy” and “Remove buy” respectively.</p>
          </div>
        </li>
        <li>
          <span class="q">How do I configure my SELL(S)? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>In the Sell Configuration box, you may create as many sell points as you’d like, they will be executed in parallel. To configure one sell point, enter the amount you would like to sell, and the rate (see AUTO and MANUAL mode). You can add and remove sell points by clicking “Add sell” and “Remove sell” respectively.</p>
          </div>
        </li>
        <li>
          <span class="q">Why didn't my order go through? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>This could happen for a few reasons:</p>
            <p><strong>1.</strong> Your API keys are misconfigured. For CryptoStorm, we need to have Read Info and Trade Limit enabled on your Bittrex or Binance API keys.<br> For more information on creating and managing <strong>Bittrex</strong> API keys, follow <a href="https://coinigy.freshdesk.com/support/solutions/articles/1000087495-how-do-i-find-my-api-key-on-bittrex-com-" target="_blank">these steps</a>. <br> For more information on creating and managing <strong>Binance</strong> API keys, follow <a href="https://coinigy.freshdesk.com/support/solutions/articles/1000256048-how-do-i-find-my-api-key-on-binance-com-" target="_blank">these steps</a>.
            </p>
            <p><strong>2.</strong> There are not enough funds in your account. Don't forget to take fees into consideration</p>
            <p><strong>3.</strong> Your order size was too small. Each exchange has different limitations for minimum order size. <br> <a href="https://support.bittrex.com/hc/en-us/articles/115003004171-What-are-my-trade-limits-" target="_blank"> Bittrex minimum order size</a> <br> <a href="https://support.binance.com/hc/en-us/articles/115000594711-Trading-Rule" target="_blank"> Binance minimum order size</a></p>
          </div>
        </li>
        <li>
          <span class="q">How do I cancel open orders? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>There are two cancel actions in the left column of CryptoStorm.</p>
            <p><strong>CANCEL:</strong> Simply cancels open orders for the current coin. If there are no open orders, it does nothing.</p>
            <p><strong>CANCEL AND SELL:</strong> Cancels open orders for the current coin (if there are any), then sells the entire balance at X% below the last price (where X is the percentage specified by the user. Default is 0). This can help to ensure that the sell order will be filled immediately.</p>
          </div>
        </li>
        <li>
          <span class="q">What are High potential coins? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>High potential coins indicate markets that can experience large price swings with low volume. The potential price increase is expressed with respect to 5 BTC, 10 BTC, and 15 BTC.</p>
          </div>
        </li>
        <li>
          <span class="q">What is the Volume breakout indicator? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>The logic of the Volume Breakout Indicator is simple but convenient. We monitor all markets for large swings in volume, so that you can use the signals in conjunction with the auto trade or manual trade mode to quickly place orders and ride the wave before it's too late. This feature can be used as a prepump detector!</p>
          </div>
        </li>
        <li id="BNBFees">
          <span class="q">How do I pay Binance fees using BNB? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>If you want to pay Binance fees using your BNB balance, simply open the Setting panel in the sidebar, and check the box under your Binance API keys indicating <strong>"I'm using BNB to pay Binance fees"</strong>. (You must add your Binance API keys before this option will become available to you).</p>
            <p><strong>Note:</strong> You must always have BNB in your account when you are making a trade, even when you are trading a BNB pair. If you indicate that you're paying fees via BNB, we will no longer take fees into consideration when performing calculations. Therefore, if your BNB balance is insufficient at any point, Binance will fallback to traditional fee methods - this will not be reflected in our calculation, possibly resulting in failed trades.</p>
            <p>If you're trading BNB pairs when the "I'm using BNB to pay Binance fees" option is checked, you will no longer be able to trade your full amount of BNB, because Binance will not have enough BNB balance to detract fees.</p>
          </div>
        </li>
        <li id="syncTime">
          <span class="q">How do I sync my system clock? 
            <i class="fa fa-angle-down" aria-hidden="true"></i>
            <i class="fa fa-angle-right" aria-hidden="true"></i>
          </span>
          <div class="a">
            <p>Binance has strict requirements on API calls to help prevent replay attacks - one requirement being that your computer's clock cannot be ahead of Binance's. Note that your API keys are not stored on our servers, so all calls to the Binance API are executed locally from your machine. This is why your system clock needs to be synced.</p>
            <p>Follow these steps to re-sync your system clock.</p>
            <a href="https://www.guidingtech.com/3119/windows-clock-sync/" target="_blank">Instructions for Windows</br></a>
            <a href="http://www.macinstruct.com/node/92" target="_blank">Instructions for Mac</a>
          </div>
        </li>
      </ul>
    </div>
  </section>

  <section class="alt-background-dark banner">
    <div class="container">
      <div class="col-md-8">
        <h3>Ready to get started?</h3>
        <span>Buy your copy of CryptoStorm today.</span>
      </div>
      <div class="col-md-4">
        <a class="button" id="buyBanner" href="/buy">Buy now</a>
        <a class="button light" id="demoBanner" href="/trial">Free Trial</a>
      </div>
    </div>
  </section>

