extend default

block content

  <section class="page-header">
    <div class="container">
      <h1>Features</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Features
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h3>Features Index</h3>
      <ul>
        <li>Trading in Auto mode</li>
        <li>Trading in Manual mode</li>
        <li>High potential coins</li>
        <li>Volume breakout indicator</li>
        <li>Bookmarking</li>
      </ul>
    </div>

    <div class="container">
      h3 Trading in Auto mode

      p Auto mode is designed as a quick way to react to changes in the price of an asset. It lets you define multiple buy and sell points, and it automatically takes care of issuing orders as fast as possible.

      h4 The chart
      p You can see exactly where the buy and sell points you configured are positioned in the real time chart. The chart shows second by second data and is updated in real time with every single incoming trade from the exchange. All markers lock as soon as you start a trade, so you can keep track of every trade in real time.

    </div>
  </section>

  <section class="alt-background-dark banner">
    <div class="container">
      <div class="col-md-8">
        <h3>Ready to get started?</h3>
        <span>Buy your copy of CryptoStorm today.</span>
      </div>
      <div class="col-md-4">
        <a class="button" id="buyBanner" href="/buy">Buy now</a>
        <a class="button light" id="demoBanner" href="/trial">Free Trial</a>
      </div>
    </div>
  </section>