extend default

block content

  <section class="page-header">
    <div class="container">
      <h1>Features</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Features
      </div>
    </div>
  </section>

  <section>
    <div class="container">
    
    </div>
  </section>

  <section class="alt-background-dark banner">
    <div class="container">
      <div class="col-md-8">
        <h3>Ready to get started?</h3>
        <span>Buy your copy of CryptoStorm today.</span>
      </div>
      <div class="col-md-4">
        <a class="button" id="buyBanner" href="/buy">Buy now</a>
        <a class="button light" id="demoBanner" href="/trial">Free Trial</a>
      </div>
    </div>
  </section>