extend default

block content

  <section class="page-header">
    <div class="container">
      <h1>Features</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Features
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      <h3>Features Index</h3>
      <ul>
        <li>Trading in Auto mode</li>
        <li>Trading in Manual mode</li>
        <li>High potential coins</li>
        <li>Volume breakout indicator</li>
        <li>Bookmarking</li>
      </ul>
    </div>

    <div class="container">
      h3 Trading in Auto mode

      p Auto mode is designed as a <strong>quick way to react to changes in the price of an asset.</strong> It lets you define multiple buy and sell points, and it automatically takes care of <strong>issuing orders as fast as possible.</strong>

      h4 Configuration
      p In auto mode, you define the amount you want to buy and sell with respect to the quote currency (eg. for BTC-ETH, in BTC or for USDT-ETH in USDT), and you set the price by configuring a percentage above (or below) the current price that you want to buy at.

      p For example, if you're expecting a low volume coin to rise sharply after a big announcement you could setup the buy configuration at 5% above the current price, this will ensure that even if the price rises fast, your order will still go through right away.

      p It's important to note that, especially with low volume coins, the order book must have enough volume for the order to go through instantly.

      h4 The chart
      p You can see exactly where the buy and sell points you configured are positioned in the real time chart. The chart shows second by second data and is updated in real time with every single incoming trade from the exchange. All trade markers on the chart lock as soon as you start a trade, so you can keep track of every trade in real time.

      h4 Cancel All and Cancel and Sell
      p The Cancel All and Cancel and Sell button come in handy when you want to bail from a trade as fast as possible. Percentage below

      h3 Trading in Manual mode

      h3 High Potential Coins

      h3 Volume Breakout Indicator

      h3 Bookmarking
    </div>
  </section>

  <section class="alt-background-dark banner">
    <div class="container">
      <div class="col-md-8">
        <h3>Ready to get started?</h3>
        <span>Buy your copy of CryptoStorm today.</span>
      </div>
      <div class="col-md-4">
        <a class="button" id="buyBanner" href="/buy">Buy now</a>
        <a class="button light" id="demoBanner" href="/trial">Free Trial</a>
      </div>
    </div>
  </section>