extend default

block content

  <section class="page-header">
    <div class="container">
      <h1>Features</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Features
      </div>
    </div>
  </section>

  <section class="quick-links">
    <div class="container">
      <h3>Quick Links</h3>
      <ul>
        <a href="#auto"><li>Trading in Auto mode</li></a>
        <a href="#manual"><li>Trading in Manual mode</li></a>
        <a href="#highPotential"><li>High potential coins</li></a>
        <a href="#volumeBreakout"><li>Volume breakout indicator</li></a>
        <a href="#bookmarking"><li>Bookmarking</li></a>
      </ul>
    </div>
  </section>

  <section id="auto">
    <div class="container feature-list">
      h3 Trading in Auto mode

      .row
        p.col-md-8.col-md-offset-2.centered-h Auto mode is designed as a <strong>quick way to react to changes in the price of an asset.</strong> It lets you define multiple buy and sell points, and it automatically takes care of <strong>issuing orders as fast as possible.</strong>

      .row
        .col-md-4
          .feature-img.feature-1
        .col-md-8
          h4 Configuration
          .hr
          p In auto mode, you define the amount you want to buy and sell with respect to the quote currency (eg. for BTC-ETH, in BTC or for USDT-ETH in USDT), and you set the price by configuring a percentage above (or below) the current price that you want to buy at.

          p For example, if you're expecting a low volume coin to rise sharply after a big announcement you could setup the buy configuration at 5% above the current price, this will ensure that even if the price rises fast, your order will still go through right away.

          p It's important to note that, especially with low volume coins, the order book must have enough volume for the order to go through instantly.

      .row
        .col-md-4
          .feature-img.feature-3
        .col-md-8
          h4 The Chart
          .hr
          p You can see exactly where the buy and sell points you configured are positioned in the real time chart. The chart shows second by second data and is updated in real time with every single incoming trade from the exchange. All trade markers on the chart lock as soon as you start a trade, so you can keep track of every trade in real time.

      .row
        .col-md-4
          .feature-img.feature-2
        .col-md-8
          h4 Cancel All and Cancel and Sell
          .hr
          p The Cancel All and Cancel and Sell button come in handy when you want to bail from a trade as fast as possible. Percentage below
    </div>
  </section>

  <section id="manual">
    <div class="container feature-list">
      h3 Trading in Manual mode

      .row
        p.col-md-8.col-md-offset-2.centered-h Manual mode is a quick way for you to determine all your sell or buy points, and execute them on any of the supported exchanges with one simple click. It's a central way of managing your trades in one hub.

      .row
        .col-md-4
          .feature-img.feature-7
        .col-md-8
          h4 Configuration
          .hr
          p Define the amount you want to buy/sell in the base currency, and rate at which you want to buy/sell in the quote currency. Create infinitely many of these if you want. Then execute them all with one click. The manual mode is essentially the same functionally as placing an order through an exchange app.
          p Keep in mind that you need sufficient balance for all orders, and each order needs to be above the minimum trade amount.

      .row
        .col-md-4
          .feature-img.feature-3
        .col-md-8
          h4 The Chart
          .hr
          p Verify that you've entered the correct buy/sell rates by seeing the visual representation on the second-by-second chart. 

      .row
        .col-md-4
          .feature-img.feature-8
        .col-md-8
          h4 Cancel All
          .hr
          p The Cancel All action allows you to easily and quickly remove all open orders for a selected market on a selected exchange. This can be useful when you observe market swings and want to adjust your open orders before the opportunity is gone.
    </div>
  </section>

  <section id="highPotential">
    <div class="container feature-list">
      h3 High Potential Coins
      .row
      .row
        .col-md-4
          .feature-img.feature-6
        .col-md-8
          h4 Add/remove markets
          .hr
          p Each signal in the High Potential Coins list shows the percentage growth a market would experience given a particular amount of buy volume (in BTC).
          p For example, 5 BTC of buy volume would cause the price of ETH-CRB to increase by 23.41%, 10 BTC of buy volume would cause the price to increase by 39.79%, etc.
          p Click on the card to view the second-by-second chart and place your orders.
    </div>
  </section>

  <section id="volumeBreakout">
    <div class="container feature-list">
      h3 Volume Breakout Indicator
      .row
      .row
        .col-md-4
          .feature-img.feature-5
        .col-md-8
          h4 Add/remove markets
          .hr
          p The logic of the Volume Breakout Indicator is simple but convenient. We monitor all markets for large swings in volume, so that you can use the signals in conjunction with the auto trade or manual trade mode to quick place orders and ride the wave before it's too late.
          p Click on the card to view the second-by-second chart and place your orders.
    </div>
  </section>

  <section id="bookmarking">
    <div class="container feature-list">
      h3 Bookmarking
      .row
      .row
        .col-md-4
          .feature-img.feature-4
        .col-md-8
          h4 Toggling bookmarked markets
          .hr
          p Keep an eye on moving markets by storing them in your bookmarks list. Clicking the star icon <i class="fa fa-star" aria-hidden="true"></i>, will add or remove the market from your watch list, which appears in the sidebar. In one easy place, you can monitor the current rate and 24hr growth of your bookmarked markets.
          p Click on the card to view the second-by-second chart and place your orders.
    </div>
  </section>


  <section class="alt-background-dark banner">
    <div class="container">
      <div class="col-md-8">
        <h3>Ready to get started?</h3>
        <span>Buy your copy of CryptoStorm today.</span>
      </div>
      <div class="col-md-4">
        <a class="button" id="buyBanner" href="/buy">Buy now</a>
        <a class="button light" id="demoBanner" href="/trial">Free Trial</a>
      </div>
    </div>
  </section>