extend default

block content
  
  <section class="page-header">
    <div class="container">
      <h1>Releases</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Releases
      </div>
    </div>
  </section>
  
  <div class="container">
      <h3>v1.3</h3>
      <p>New Features:</p>
      <ul>
        <li>Update the Volume Breakout algorithm to have second-by-second granularity</li>
        <li>Implements the Volume Breakout for <strong>Binance</strong> and <strong>Cryptopia</strong></li>
        <li>Updates the design of Volume Breakout Cards</li>
        <li>Minor interface fixes</li>
      </ul>
  </div>

  <section>
    <div class="container">
        <h3>v1.2</h3>
        <p>New Features:</p>
        <ul>
          <li>Cryptopia support</li>
          <li>View all open orders on Binance in sidebar</li>
          <li>Improve styling of order list</li>
          <li>Real-time trades feed</li>
        </ul>
    </div>

    <div class="container">
        <h3>v1.1</h3>
        <p>New Features:</p>
        <ul>
          <li>Candlestick chart with 1s, 1m, 15m, 30m, and 1h intervals</li>
          <li>Represents historical trades on the chart</li>
          <li>Indicate paying fees with BNB for Binance trades</li>
        </ul>
    </div>

    <div class="container">
        <h3>v1.0 - Major Release</h3>
        <p>New Features:</p>
        <ul>
          <li>Binance exchange support</li>
          <li>Multiple buy points</li>
          <li>Trade non-BTC pairs</li>
          <li>Manual mode</li>
          <li>New chart (with zoom and pan)</li>
          <li>Show open orders points and buy/sell configuration points on the chart</li>
          <li>Minor interface updates</li>
          <li>Slidein notifications</li>
        </ul>
    </div>
  </section>
