extend default

block content
  
  <section class="page-header">
    <div class="container">
      <h1>Support</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Support
      </div>
    </div>
  </section>

  <section class="centered-h">
    <div class="container">
      <div class="support-method">
        <h3>Community</h3>
        <p>Need help or just want to join the community discussion?</p>
        <a href="https://discord.gg/r3xvED9" class="button">Join us on Discord!</a>
      </div>
      <div class="support-method">
        <h3>Frequently Asked Questions</h3>
        <p>Review some of the common questions our users ask us on a regular basis.</p>
        <a href="/faq" class="button light">View FAQ</a>
      </div>
    </div>
  </section>

