extend default

block content
  
  <section class="page-header">
    <div class="container">
      <h1>Terms &amp; Conditions</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Terms &amp; Conditions
      </div>
    </div>
  </section>

  <section>
    <div class="container">
      p These terms and conditions outline the rules and regulations for the use of “CRYPTOSTORM – getcryptostorm.com”‘s Website.

      p By accessing this website we assume you accept these terms and conditions in full. Do not continue to use “CRYPTOSTORM – getcryptostorm.com”‘s website if you do not accept all of the terms and conditions stated on this page.

      p The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any or all Agreements: “Client”, “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”, refers to both the Client and ourselves, or either the Client or ourselves. All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated services/products, in accordance with and subject to, prevailing law of Canada. Any use of the above terminology or other words in the singular, plural, capitalisation and/or he/she or they, are taken as interchangeable and therefore as referring to same.

      h3.left Risk Disclosure
      p <strong>CryptoStorm</strong> will not accept any liability for loss or damage as a result of reliance on the information contained within this website including software, data, articles, video’s, ebooks and buy/sell signals. Please be fully informed regarding the risks and costs associated with trading the digital markets, it is one of the riskiest investment forms possible.
      p Cryptocurrency trading involves risk, and is not suitable for all investors. Before deciding to trade cryptocurrency or any other crypto trading instrument you should carefully consider your investment objectives, level of experience, and risk appetite.
      p <strong>CryptoStorm</strong> would like to remind you that the data contained in this website is not necessarily real-time nor accurate. All CFDs (stocks, indexes, futures) and Cryptocurrencies prices or Forex prices are not provided by exchanges but rather by market makers, and so prices may not be accurate and may differ from the actual market price, meaning prices are indicative and not appropriate for trading purposes. Therefore CryptoStorm doesn’t bear any responsibility for any trading losses you might incur as a result of using this data or software or website.

      h3.left Cookies
      p We employ the use of cookies. By using “CRYPTOSTORM – getcryptostorm.com”‘s website you consent to the use of cookies in accordance with “CRYPTOSTORM – getcryptostorm.com”‘s privacy policy.

      p Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit. Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those people visiting. Some of our affiliate / advertising partners may also use cookies.

      h3.left License
      p Unless otherwise stated, “CRYPTOSTORM – getcryptostorm.com” and/or it’s licensors own the intellectual property rights forall material on “CRYPTOSTORM – getcryptostorm.com”. All intellectual property rights are reserved. You may view and/or print pages from https://getcryptostorm.com for your own personal use subject to restrictions set in these terms and conditions.

      p <strong>You must not:</strong>
      ol
        li Republish material from https://getcryptostorm.com
        li Sell, rent or sub-license material from https://getcryptostorm.com
        li Reproduce, duplicate or copy material from https://getcryptostorm.com
        li Redistribute content from “CRYPTOSTORM – getcryptostorm.com” (unless content is specifically made for redistribution).

      //- h3.left User Comments
      //- ol
      //-   li This Agreement shall begin on the date hereof.
      //-   li Certain parts of this website offer the opportunity for users to post and exchange opinions, information, material and data (‘Comments’) in areas of the website. “CRYPTOSTORM – getcryptostorm.com” does not screen, edit, publish or review Comments prior to their appearance on the website and Comments do not reflect the views or opinions of “CRYPTOSTORM – getcryptostorm.com”, its agents or affiliates. Comments reflect the view and opinion of the person who posts such view or opinion. To the extent permitted by applicable laws “CRYPTOSTORM – getcryptostorm.com”shall not be responsible or liable for the Comments or for any loss cost, liability, damages or expenses caused and or suffered as a result of any use of and/or posting of and/or appearance of the Comments on this website.
      //-   li “CRYPTOSTORM – getcryptostorm.com”reserves the right to monitor all Comments and to remove any Comments which it considers in its absolute discretion to be inappropriate, offensive or otherwise in breach of these Terms and Conditions.
      //-   li You warrant and represent that:
      //-     ol
      //-       li You are entitled to post the Comments on our website and have all necessary licenses and consents to do so;
      //-       li The Comments do not infringe any intellectual property right, including without limitation copyright, patent or trademark, or other proprietary right of any third party;
      //-       li The Comments do not contain any defamatory, libelous, offensive, indecent or otherwise unlawful material or material which is an invasion of privacy;
      //-       li The Comments will not be used to solicit or promote business or custom or present commercial activities or unlawful activity.
      //-   li You hereby grant to “CRYPTOSTORM – getcryptostorm.com” a non-exclusive royalty-free license to use, reproduce, edit and authorize others to use, reproduce and edit any of your Comments in any and all forms, formats or media.
      
      h3.left Hyperlinking to our Content
      ol
        li The following organizations may link to our Web site without prior written approval:
        ol
          li Government agencies;
          li Search engines;
          li News organizations;
          li Online directory distributors when they list us in the directory may link to our Web site in the same manner as they hyperlink to the Web sites of other listed businesses; and
          li Systemwide Accredited Businesses except soliciting non-profit organizations, charity shopping malls, and charity fundraising groups which may not hyperlink to our Web site.
        li These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and its products or services; and (c) fits within the context of the linking party’s site.
        li We may consider and approve in our sole discretion other link requests from the following types of organizations:
        ol
          li commonly-known consumer and/or business information sources;
          li dot.com community sites;
          li associations or other groups representing charities, including charity giving sites,
          li online directory distributors;
          li internet portals;
          li accounting, law and consulting firms whose primary clients are businesses; and
          li educational institutions and trade associations.
      p We will approve link requests from these organizations if we determine that: (a) the link would not reflect unfavorably on us or our accredited businesses (for example, trade associations or other organizations representing inherently suspect types of business, such as work-at-home opportunities, shall not be allowed to link); (b) the organization does not have an unsatisfactory record with us; (c) the benefit to us from the visibility associated with the hyperlink outweighs the absence of; and (d) where the link is in the context of general resource information or is otherwise consistent with editorial content in a newsletter or similar product furthering the mission of the organization.

      p These organizations may link to our home page, to publications or to other Web site information so long as the link: (a) is not in any way misleading; (b) does not falsely imply sponsorship, endorsement or approval of the linking party and it products or services; and (c) fits within the context of the linking party’s site.

      p If you are among the organizations listed in paragraph 2 above and are interested in linking to our website, you must notify us by sending a Telegram message to http://t.me/cryptostorm. Please include your name, your organization name, contact information (such as a phone number and/or e-mail address) as well as the URL of your site, a list of any URLs from which you intend to link to our Web site, and a list of the URL(s) on our site to which you would like to link. Allow 2-3 weeks for a response.

      p Approved organizations may hyperlink to our Web site as follows:
      ol
        li By use of our corporate name; or
        li By use of the uniform resource locator (Web address) being linked to; or
        li By use of any other description of our Web site or material being linked to that makes sense within the context and format of content on the linking party’s site.
        li No use of “CRYPTOSTORM – getcryptostorm.com”‘s logo or other artwork will be allowed for linking absent a trademark license agreement.

      h3.left Iframes
      p Without prior approval and express written permission, you may not create frames around our Web pages or use other techniques that alter in any way the visual presentation or appearance of our Web site.

      h3.left Content Liability
      p We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any page on your Web site or within any context containing content or materials that may be interpreted as libelous, obscene or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any third party rights.

      h3.left Reservation of Rights
      p We reserve the right at any time and in its sole discretion to request that you remove all links or any particular link to our Web site. You agree to immediately remove all links to our Web site upon such request. We also reserve the right to amend these terms and conditions and its linking policy at any time. By continuing to link to our Web site, you agree to be bound to and abide by these linking terms and conditions.

      h3.left Removal of links from our website
      p If you find any link on our Web site or any linked web site objectionable for any reason, you may contact us about this. We will consider requests to remove links but will have no obligation to do so or to respond directly to you.

      p Whilst we endeavour to ensure that the information on this website is correct, we do not warrant its completeness or accuracy; nor do we commit to ensuring that the website remains available or that the material on the website is kept up to date.

      h3.left Restrictions
      p You are specifically restricted from all of the following
      ul
        li publishing any Website material in any other media;
        li selling, sublicensing and/or otherwise commercializing any Website material;
        li publicly performing and/or showing any Website material;
        li using this Website in any way that is or may be damaging to this Website;
        li using this Website in any way that impacts user access to this Website;
        li using this Website contrary to applicable laws and regulations, or in any way may cause harm to the Website, or to any person or business entity;
        li engaging in any data mining, data harvesting, data extracting or any other similar activity in relation to this Website;
        li using this Website to engage in any advertising or marketing.
      
      p Certain areas of this Website are restricted from being access by you and may further restrict access by you to any areas of this Website, at any time, in absolute discretion. Any user ID and password you may have for this Website are confidential and you must maintain confidentiality as well.

      h3.left Disclaimer
      p To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions relating to our website and the use of this website (including, without limitation, any warranties implied by law in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill). Nothing in this disclaimer will:
      ol
        li limit or exclude our or your liability for death or personal injury resulting from negligence;
        li limit or exclude our or your liability for fraud or fraudulent misrepresentation;
        li limit any of our or your liabilities in any way that is not permitted under applicable law; or
        li exclude any of our or your liabilities that may not be excluded under applicable law.

      p The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.

      p To the extent that the website and the information and services on the website are provided free of charge, we will not be liable for any loss or damage of any nature.

      br
      hr
      br
      h1 Customer Refund Policy
      p These rules are based on consumer laws that we at CryptoStom think are a good starting point to apply to transactions that happen on CryptoStom so you as the buyer have a consistent experience and know what to expect from us.

      p The situations in which we expect to give a refund on a product and related services that you have purchased, are as follows:
      ol
        li <strong>The product is “not as described”</strong>
          p The product is “not as described” if it is materially different from the item description or preview. You should expect the developer to “tell it like it is” when it comes to the features and functionality of items. If it turns out the item is “not as described” you will be entitled to a refund.

        //- li <strong>The product doesn’t work the way it should</strong>
        //-   p If the product doesn’t work the way it should and can’t easily be fixed you are entitled to a refund of the item.
        //-   p This includes situations where the product has a problem that would have stopped you from buying it if you’d known about the problem in the first place. If the item can be fixed, then the developer is required to do so promptly (no more then 30 days) by updating the the product, otherwise you are entitled to a refund of that item.
        //-   p What it’s not included in this rule are situations where the environment and third party softwares or services are the reason for the problem. In this case you will get support from our team via our Telegram contact .

        li <strong>The product support is promised but not provided</strong>
          p If we or the developer advertises the product as including item support, and you are not provide that support, you will be entitled to a refund of your purchased item.

      h3.left Why a refund may not be given
      p If the product is materially similar to the description and preview and works the way it should, there is generally no obligation to provide a refund in situations like the following:
      ol
        li you don’t want it after you’ve downloaded it;
        li the item did not meet your expectations;
        li you simply changeed your mind;
        li you bought an item by mistake;
        li you do not have sufficient expertise to use the item;
        li you know a "bug" in the software and you don’t want to wait for a free fix or update;
        li you ask for goodwill;

      h3.left Time restrictions of refund requests
      p Requests for refunds must be submitted within <strong>14 days of purchase</strong>.

      h3.left NO WARRANTY ON LICENSED SOFTWARE
      p THE LICENSED SOFTWARE IS PROVIDED TO LICENSEE "AS IS". CRYPTOSTORM, AND CRYPTOSTORM’S LICENSORS AND SUPPLIERS, MAKE NO WARRANTY AS TO ITS USE OR PERFORMANCE. CRYPTOSTORM, AND CRYPTOSTORM’S LICENSORS AND SUPPLIERS, MAKE NO REPRESENTATIONS, WARRANTIES, CONDITIONS, OR TERMS (EXPRESS OR IMPLIED, WHETHER BY STATUTE, COMMON LAW, CUSTOM, USAGE, COURSE OF DEALING, TRADE PRACTICE OR OTHERWISE) AS TO THE LICENSED SOFTWARE, INCLUDING WITHOUT LIMITATION TITLE, NON-INFRINGEMENT OF THIRD PARTY RIGHTS, MERCHANTABILITY, SATISFACTORY QUALITY OR FITNESS FOR ANY PARTICULAR PURPOSE, EXCEPT FOR, AND ONLY TO THE EXTENT THAT, ANY SUCH REPRESENTATION, WARRANTY CONDITION OR TERM MAY NOT BE EXCLUDED OR LIMITED BY APPLICABLE LAW IN LICENSEE’S JURISDICTION.

      p In rare instances CryptoStom may, at our discretion, issue a refund if CryptoStom cannot resolve a substantial issue where the product does not conform to the product’s documentation. When CryptoStom deems a refund is appropriate, the refund paid will be the purchase price <strong>in USD or in BTC at the time of the original purchase, whichever is lower</strong>, minus the order transaction fees at the time of refund request. In such instances, CryptoStom requires that purchaser to provide enough information for us to positively identify the original purchase transaction (e.g., license key).
    
    </div>
  </section>

