extend default

block content
  
  <section class="page-header">
    <div class="container">
      <h1>Free Trial</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Trial
      </div>
    </div>
  </section>

  <section class="centered-h">
    <div id="GenerateCode">
      <div class="container">
        <h3>Try CryptoStorm for FREE!</h3>
        <div class="col-md-8 col-md-offset-2">
          <h2>Generate your license key to unlock free <strong>24 hour access</strong> to CryptoStorm.</h2>
          <h2>First enter a <strong>valid email address</strong>, then we will send your CryptoStorm license key and download links to that address.</h2>
        </div>
        <div class="col-md-6 col-md-offset-3">
          <input name="email" type="email" placeholder="Email" />
          <span class="error-message email-error">Invalid email address</span>
          <a class="button track-click wide" id="generateCodeBtn">Send me a free trial</a>
        </div>
      </div>
    </div>

    <div id="LoadingCode">
      <i class="fa fa-cogs modal-icon" aria-hidden="true"></i>
      <span class="pulse">Generating license key...</span>
    </div>

    <div id="DisplayCode">
      <div class="container">
        <i class="fa fa-check modal-icon" aria-hidden="true"></i>
        <h3>Success!</h3>
        <p>Check your email for your license key and download links.</p>
      </div>
    </div>

    <div id="ErrorCode">
      <div class="modal-header">
        <i class="fa fa-exclamation-triangle modal-icon" aria-hidden="true"></i>
        <h3>Error</h3>
        <p>There was a problem while generating your license key.</p>
        <p>Please contact <a href="http://t.me/CryptoStorm" target="_blank">t.me/CryptoStorm</a> for support. We will respond as soon as possible.</p>
      </div>
    </div>
  </section>


block scripts

  <script src="js/promo.js"></script>

