extend default

block content
  
  <section class="page-header">
    <div class="container">
      <h1>Free Trial</h1>
      <div class="breadcrumb">
        <a href="/">Home </a> <i class="fa fa-angle-right" aria-hidden="true"></i> Trial
      </div>
    </div>
  </section>

  <section id="GenerateCode" class="centered-v centered-h">
    <div class="container">
      <h1>Try CryptoStorm for FREE!</h1>
      <h2>Generate your access key to unlock free 24 hour access to CryptoStorm.</h2>
    </div>
    <a class="button track-click wide" id="generateCodeBtn">Generate code</a>
  </section>

  <section id="LoadingCode" class="centered-v centered-h">
    <i class="fa fa-cogs modal-icon" aria-hidden="true"></i>
    <span class="pulse">Generating activation code...</span>
  </section>

  <section id="DisplayCode" class="centered-h">
    <div class="container">
      <i class="fa fa-check modal-icon" aria-hidden="true"></i>
      <h3>Success!</h3>
      <p>Here is your activation code:</p>
      <p>Code expires on <strong><span id="code-expiry"></span></strong></p>
      <div class="col-md-12">
        <span id="activation-code" class="col-md-8 col-md-offset-2">[Activation code]</span>
      </div>

      <h3>Download</h3>
      <p>Select your OS, download the files, unzip, launch and enter the activation key.</p>
      <p>If you already have the demo, <strong>you don't need to download CryptoStorm again</strong></p>
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <div class="col-sm-4 col-xs-6 download-OS"><a href="downloads/CryptoStorm-MacOS.zip" download>macOS</a></div>
          <div class="col-sm-4 col-xs-6 download-OS"><a href="downloads/CryptoStorm-Windows32.zip" download>Windows32</a></div>
          <div class="col-sm-4 col-xs-6 download-OS"><a href="downloads/CryptoStorm-Windows64.zip" download>Windows64</a></div>
        </div>
        <div class="col-md-8 col-md-offset-2">
          <div class="col-sm-4 col-xs-6 download-OS"><a href="downloads/CryptoStorm-linux-ia32.zip" download>Linux32</a></div>
          <div class="col-sm-4 col-xs-6 download-OS"><a href="downloads/CryptoStorm-linux-x64.zip" download>Linux64</a></div>
          <div class="col-sm-4 col-xs-6 download-OS"><a href="downloads/CryptoStorm-linux-armv7l.zip" download>Linux Armv71</a></div>
        </div>
      </div>
    </div>
  </section>

  <section class="centered-h" id="ErrorCode">
    <div class="modal-header">
      <i class="fa fa-exclamation-triangle modal-icon" aria-hidden="true"></i>
      <h3>Error</h3>
      <p>There was a problem while generating your access code.</p>
      <p>Please contact <a href="http://t.me/CryptoStorm" target="_blank">t.me/CryptoStorm</a> for support. We will respond as soon as possible.</p>
    </div>
  </section>

