.Buy {
    #BuyForm {
        ul {
            list-style: none;
            text-align: left;
        }
        li {
            margin: 100px 0;
            position: relative;
        }
    }
    .question-number {
        position: absolute;
        left: -34px;
        top: 6px;
        color: $primary;
    }
    .question-number i {
        color: $primary;
        font-size: 12px;
    }
    #PaymentSuccess, #PaymentFail {
        display: none;
    }   
}