.Home {
    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: rgba(255,255,255,0.5);
    }
    ::-moz-placeholder { /* Firefox 19+ */
      color: rgba(255,255,255,0.5);
    }
    :-ms-input-placeholder { /* IE 10+ */
      color: rgba(255,255,255,0.5);
    }
    :-moz-placeholder { /* Firefox 18- */
      color: rgba(255,255,255,0.5);
    }
    
    h1 {
        color: $white;
        font-size: 50px;
        line-height: 1.1;
    }

    h2 {
        strong {
            color: $white;
        }
    }

    section {
        padding: 100px 0 120px
    }

    .page-header {
        background: $primary url(../images/hero-bg.svg) no-repeat center 260px;
        padding: 250px 0 150px;
    }
    .screenshot {
        background: url(../images/dashboard.png) no-repeat;
        background-size: 100%;
        display: block;
        margin: -70px 0 -100px;
        width: 900px;
        height: 570px;
        @media screen and (max-width: 992px) {
            margin: 50px 0 -210px;
            height: 500px;
            width: auto;
        }
        @media screen and (max-width: 650px) {
            height: 430px;
        }
        @media screen and (max-width: 500px) {
            height: 350px;
        }
    }   

    .lead-gen {
        background: #36a3ec;
        border-radius: 3px;
        margin-top: 30px;
        overflow: auto;
        padding: 8px 8px 8px 20px;
        -webkit-box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.08), inset 0 1px 0 0 rgba(255,255,255,0.1);
        box-shadow: inset 0 -1px 0 0 rgba(255,255,255,0.08), inset 0 1px 0 0 rgba(255,255,255,0.1);

        input {
            border: none;
            background: none;
            color: $white;
            padding: 0;
            font-size: 16px;
            margin: 13px 0;
            width: auto;
        }
        button {
            background: #18daa3;
            border: none;
            box-shadow: none;
            color: $white;
            float: right;
            font-size: 15px;
            margin: 0;
            @include transition(.3s ease-in-out);

            @media screen and (max-width: 415px) {
                float: none;
            }

            &:hover {
                background: #23c387;
            }
        }
    }

    #WhatIsCS {
        .WhatIsCS-item {
            &:before {
                background: $primary;
                border-radius: 10px;
                box-shadow: 0px 7px 30px rgba(51, 112, 154, 0.4);
                content: '';
                display: block;
                width: 80px;
                height: 80px;
                margin: 30px auto 40px;
            }
            .WhatIsCS-header {
                color: $text-secondary;
                display: block;
                font-size: 20px;
                margin-bottom: 14px;
            }
            .WhatIsCS-desc {
                font-size: 16px;
                line-height: 1.6;
            }
        }
    }

    #Features {
        @media screen and (max-width: 630px) {
            padding-top: 20px;
        }
        @media screen and (max-width: 480px) {
            padding-top: 70px;
        }

        ul {
            margin: 0;
            padding: 0 0 40px;
            list-style: none;
            
            li {
                padding: 20px 30px 20px 70px;
                position: relative;
                
                i {
                    color: #40abe4;
                    border: 2px solid #40abe4;
                    border-radius: 40px;
                    font-size: 24px;
                    margin-right: 18px;
                    padding: 11px 0;
                    text-align: center;
                    height: 50px;
                    width: 50px;
                    position: absolute;
                    left: 0;
                }
                .feature-title {
                    color: #161617;
                    display: block;
                    font-size: 17px;
                    font-weight: 600;
                    margin-bottom: 2px;
                    padding-top: 8px;
                    text-transform: capitalize;
                }
                .feature-desc {
                    display: block;
                }
            }
        }

        .button {
            margin: 0 auto;
        }
    } 

    #Pricing {
        .pricing-box {
            border: 1px solid #e4ecf1;
            padding: 30px 0 40px;
            text-align: center;
            p {
                margin: 0;
                &:first-of-type {
                    color: $primary;
                    font-size: 40px;
                }
                &:not(:first-of-type) {
                    text-transform: uppercase;
                    font-weight: 800;
                }
            }
        }
        .pricing-details {
            ul {
                margin: 0;
                padding: 0 0 0 20px;
                list-style: none;
                li {
                    font-size: 17px;
                    margin-bottom: 6px;
                    i {
                        padding-right: 14px;
                    }
                }
            }
        }
    }

    #Exchanges {
        text-align: center;
        padding: 80px 0;

        .exchange {
            display: inline-block;
            margin: 40px auto 0;
            max-width: 230px;
            height: 70px;
            width: 100%;

            &.bittrex {
                background: url(../images/exchange-bittrex.png) no-repeat;
                background-size: 100%;
            }
            &.binance {
                background: url(../images/exchange-binance.png) no-repeat;
                background-size: 100%;
            }
            &.cryptopia {
                background: url(../images/exchange-cryptopia.png) no-repeat;
                background-size: 100%;
            }
        }
    }
}
