<p>Select your OS, download the files, unzip, launch and enter the activation key.</p>
<p>If your OS doesn't appear below, please contact us at <a href="https://t.me/CryptoStorm" target="_blank">t.me/CryptoStorm</a> to discuss.</p>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-sm-6 download-OS"><a href="https://app.getcryptostorm.com/downloads/CryptoStorm-MacOS.zip" download>Download for Mac</a></div>
        <div class="col-sm-6 download-OS"><a href="https://app.getcryptostorm.com/downloads/CryptoStorm-Windows64.zip" download>Download for Windows</a></div>
    </div>
</div>