<p>Select your OS, download the files, unzip, launch and enter the activation key.<br>
<strong>Note:</strong> Don't forget to add your API keys once you've completed activation.</p>
<p>If your OS doesn't appear below, please contact us at <a href="https://t.me/CryptoStorm" target="_blank">t.me/CryptoStorm</a> to discuss.</p>
<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="col-sm-6 download-OS"><a href="https://app.getcryptostorm.com/downloads/CryptoStorm-macOS.zip" download>Download for Mac</a></div>
        <div class="col-sm-6 download-OS"><a href="https://app.getcryptostorm.com/downloads/CryptoStorm-windows64.zip" download>Download for Windows</a></div>
        <div class="col-sm-6 download-OS"><a href="https://app.getcryptostorm.com/downloads/CryptoStorm-linux64.zip" download>Download for Linux64</a></div>
        <div class="col-sm-6 download-OS"><a href="https://app.getcryptostorm.com/downloads/CryptoStorm-linux-ia32.zip" download>Download for Linux32</a></div>
    </div>
</div>
<p><strong><a href="https://getcryptostorm.com/releases" target="_blank">View release log</a></strong></p>
<p>By downloading CryptoStorm, you agree to the <a href="/terms" target="_blank">Terms &amp; Conditions</a></p>