$primary:           #2497e3;

$white:             #ffffff;
$yellow:            #ffc135;

$text-primary:      #586e87;
$text-secondary:    #161617;

$error:             #f74d43;
$success:           #84c76e;

$bg: 				#f5f8fa;
$bg-dark: 			#e4ecf1;